body {
    background-color: rgb(245, 245, 245);
    margin: 0;

}

.element-align {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    font-family: 'Inter', sans-serif;
    font-size: xxx-large;
    color: rgb(255, 228, 73);
    background-color: rgb(96, 194, 255);
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    margin-top: 0;
    padding: 1em;
}

main {
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1em;
}

h2 {
    color: rgb(255, 228, 73);
    font-family: 'Kanit', sans-serif;
    font-size: xxx-large;
    text-align: center;
    padding: .25em;
}

h4 {
    color: rgb(96, 194, 255);
    font-family: 'Quicksand', sans-serif;
    font-size: xx-large;
}

#task-header {
    margin-bottom: 1%;
}

.list-body {
    margin: 0;
    text-align: center;
    padding-bottom: 100%;
}



.material-icons {
    background-color: rgb(255, 228, 73);
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
    font-size: 25px;
}